* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  height: 100vh;
  color: #D9D9D9;
  background-color: #262626;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 175px;
}

.header-label {
  font-family: Hanken Grotesk;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.627rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F9F4DA;
}
.header-para {
  font-family: Hanken Grotesk;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.14rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8E8E8E;
}

.game-status-container{
  width: 100%;
  height: 79px;
  padding: 6px 0px 6px 0px;
  gap: 6px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #7A5EA7;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  gap: 0;
}

.game-status-container > p {
font-family: Hanken Grotesk;
font-size: 1rem;
font-style: italic;
font-weight: 400;
line-height: 1.303rem;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.game-status-container > h2 {
font-family: Hanken Grotesk;
font-size: 1.25rem;
font-weight: 500;
line-height: 1.628rem;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin: 0;
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  height: 51.5px;
  gap: 1.5px;
  justify-content: center;
  border-bottom: 36px;
}

.language-div > span {
  font-family: Hanken Grotesk;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.language-div  {
  border-radius: 3px;
  padding: 5px;
  position: relative;
}

.word-box {
  width: 40px;
  height: 40px;
  padding: 6px 0px 0px 0px;
  border-bottom: 1px solid #D9D9D9;
  background-color: #323232;
  color: #D9D9D9;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.465rem;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


.word-container {
  display: flex;
  gap:2px;
  border-bottom: 36px;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 480px;
  height: 164px;
  gap: 12px;
}

.key-button-box, .key-button-box-correct, .key-button-box-incorrect {
  width: 40px;
  height: 40px;
  padding: 6px;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  opacity: 0px;
  background-color: #FCBA29;
  color: #1E1E1E;
  font-family: Hanken Grotesk;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.303rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.key-button-box-correct {
  background-color: #10A95B;
}

.key-button-box-incorrect {
  background-color: #EC5D49;
}

.base-button {
  width: 228px;
  height: 40px;
  padding: 6px 12px 6px 12px;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #F9F4DA;
  font-family: Hanken Grotesk;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.303rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #11B5E5;
  cursor: pointer;
}

.key-button-box:focus {
  outline: 2px solid #4A90E2; 
  outline-offset: 6px;       
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.75); /* Optional glow effect */
}


/* Dimmed overlay with skull on "lost" languages */
.language-div.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%; 
  width: 100%; 
  font-size: 0.85rem;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.7) 
}